body {
  background-color: #ececec;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}


/* Border */
.border-bottom {
  border-bottom: 3px solid #090909 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(9, 9, 0) !important;
}
.grid-border {
  border-bottom: inset 5px #090909;
  }

/* Size */
.w-150 {
  width: 150px !important;
}
.w-120 {
  width: 120px !important;
}
.w-90 {
  width: 90px !important;
}

.h-180 {
  height: 180px !important;
}

.h-210 {
  height: 210px !important;
}

.hv-50 {
  height: 50vh !important;
}

.hv-60 {
  height: 60vh !important;
}

/* Color */
.pink-bg {
  background-color: #f3cee1;
}

.blue-bg {
  background-color: #a3cfd4;
}

.wh-bg {
 background-color: #fff;
}

/* Typography */
.title-font {
  font-size: 3rem;
}

/* Float Contents */
.box1, .box2 {
  display: block;
  height: 30px;
  width: 100px;
  float: right;
  }

  

/* List */
ul .mail-list {
	list-style: none;
}
ul li i {
  padding-right: 1em;
}
ul li.mail-listg {
	padding-left: 40px;
	line-height: 1.6em;
	background: url(../images/mail-sender01.png) left 0px top 10px no-repeat;
	background-size: 30px auto;
}
ul li.mail-listp {
	padding-left: 40px;
	line-height: 1.6em;
	background: url(../images/mail-sender02.png) left 0px top 10px no-repeat;
	background-size: 30px auto;
}
ul li.mail-listv {
	padding-left: 40px;
	line-height: 1.6em;
	background: url(../images/mail-sender03.png) left 0px top 10px no-repeat;
	background-size: 30px auto;
}


/* Go Top*/
.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #090909 ;
  border: 1px solid #999;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #999;
  opacity: 1;
  position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #ffff;
  width: 25%;
  height: 25%;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 0.5;
}

