body {
  background-color: #ececec;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}


/* Common */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.border-bottom {
  border-bottom: 3px solid #090909 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(9, 9, 0) !important;
}

/* Size */
.w-150 {
  width: 150px !important;
}
.w-90 {
  width: 90px !important;
}

.h-180 {
  height: 180px !important;
}

/* Color */
.pink-bg {
  background-color: #f3cee1;
}

.blue-bg {
  background-color: #a3cfd4;
}

/* Go Top*/
.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #999;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.5;
  position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 25%;
  height: 25%;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1;
}

/* Grid */
.grid-border {
  border-bottom: inset 5px #090909;
  }